#nav_menu {
    background-color: #E9E9E9;
    font-size: 24px;
    font-family: lato, verdana, tahoma, sans-serif;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    margin: auto;
}

#nav_menu ul {
    display: flex;
    justify-content: space-between;
}

#nav_menu ul ul {
    display: none;                      /* don't display submenu until hover over li */
    position: absolute;
    top: 100%;                          /* postiion submenu at bottom of main menu */
}

#nav_menu ul ul li {
    float: none;                        /* display submenu vertically */
}

#nav_menu ul li {
    list-style-type: none;
    padding: 10px;
    margin: 0 10px;
  }

  #nav_menu ul li:hover > ul {                /* ul child of li element */
    display: block;                        /* display submenu on hover of li element */
        
}
  
  #nav_menu a {
    color: var(--nav-text);
    font-weight: bold;
    text-decoration: none;
  }
  
  #nav_menu a:hover {
    background-color: #E7CC12;
  }

  #nav_menu a:hover, nav a:focus{
    background-color: #E7CC12;
    padding: 5px;
}