* {
  margin: 0;
  padding: 0;
}

#nav_menu {
  width: 100%;
  height: 60px;
}

#logo {                     /* logo style */
  font-family: serif;
  color: #E7CC12;
  font-size: 24px;
  background-color: #4C3F67;
  line-height: 55px;
  width: fit-content;
  float: left;
  padding: 0px 20px;
}

#nav_menu ul {                  /* start of nav style */
  float: left;
  padding: 0 0 0 100px;
}

#nav_menu ul li {
  float: left;
  list-style: none;
  position: relative;
}

#nav_menu ul li a {
  display: block;
  font-family: lato, verdana, tahoma, sans-serif;
  color: #000;
  font-size: 20px;
  background-color: #fff;
  padding: 30px 14px;
  text-decoration: none;
}

#nav_menu ul li a:hover {
  background-color: #E7CC12;
}

#nav_menu ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

#nav_menu ul li:hover ul {
  display: block;
}

#nav_menu ul li ul li {
  width: 180px;
  border-radius: 4px;
}

#nav_menu ul li ul li a {
  padding: 8px 14px;
}

#nav_menu ul li ul li a:hover {   /* hover color gold*/
  background-color: #E7CC12;
}

#hr1 {                            /* adjust line under menu */
  width: 900px;
}

label {                             /* desktop style for hamburger */
  margin: 0 40px 0 0;
  font-size: 50px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {                         /* desktop style for hamburger */
  display: none;
}

@media only screen and  (max-width: 768px) {
  #hr1 {
    display: none;
  }

  label {
    display: block;
    cursor: pointer;
  }
  #nav_menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  #nav_menu a {
    display: block;
    /*border-bottom: 1px solid #eaeaeb;*/
    margin: 0;
  }
  #toggle:checked + #nav_menu {
    display: block;
  }
}

/* I'm struggling with figuring out how to get my nav to go vertical with the hamburger menu*/