.reflection {                             /*reflection page START*/
    width: 960px;
    margin: 0px auto;
    display: grid;
    grid-template-areas:
        "p1"
        "p2"
        "p3"
        "p4"
        "p5"
        "p6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto auto auto auto auto;
    gap: 50px / 50px;
}

.p1 {                                   /*reflection page*/
    grid-column: 1;
    grid-row: 3;
    background-color: #E7CC12;
}

.p2 {                                   /*reflection page*/
    grid-column: 2;
    grid-row: 3;
    background-color: #E9E9E9;
}

.p3 {                                    /*reflection page*/
    grid-column: 3;
    grid-row: 3;
    background-color: #E7CC12;
}

.p4 {                                    /*reflection page*/
    grid-column: 1;
    grid-row: 4;
    background-color: #E9E9E9;
}

.p5 {                                    /*reflection page*/
    grid-column: 2;
    grid-row: 4;
    background-color: #E7CC12;
}

.p6 {                                    /*reflection page*/
    grid-column: 3;
    grid-row: 4;
    background-color: #E9E9E9;
}