header {                            /*All pages*/
    text-align: center;
    Padding: 20px 0;
    display: block;
}

body {
    display: block;
    font-family: lato, verdana, tahoma, sans-serif;
}

.home {                             /*home page*/
    width: 960px;
    margin: 0px auto;
    display: grid;
    grid-template-areas:
        "welcome"  
        "h3"
        "p1"
        "p2"
        "p3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto auto auto auto auto;
}

.welcome {                             /*home page*/
    grid-column: 1 / 4;
    grid-row: 1;
    padding: 0;
    text-align: center;
}

h3 {                                    /*home page*/
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 2;
}

.p1 {                                   /*home page*/
    grid-column: 1;
    grid-row: 3;
    background-color: #E7CC12;
}

.p2 {                                   /*home page*/
    grid-column: 2;
    grid-row: 3;
    background-color: #E9E9E9;
}

.p3 {                                    /*home page*/
    grid-column: 3;
    grid-row: 3;
    background-color: #E7CC12;
}

.about {                                /*about page*/
    display: grid;
    grid-template-areas:
        "video"  
        "p"
        "blockquote"
        "headshot"
        "resume";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 60px 60px 1fr;
    gap: 5px;
    padding: 0px;
    margin: 0px;
}
#video {                              /*about page*/
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    padding: 10px;
}

p {                              /*about page*/
    grid-column: 2 / 5;
    grid-row: 1;
    width: 80%;
    border: none;
    padding: 50px;
    margin: 20px;
    line-height: 1.8;
}

blockquote {                              /*about page*/
    grid-column: 2 / 5;
    grid-row: 2;
}

#headshot {                              /*about page*/
    grid-column: 1;
    grid-row: 3 / 5;
    padding: 10px;
}

#resume {                   /* Resume Link design - button style */
    background-color: #E9E9E9;
    border: 5px solid #4C3F67;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    grid-column: 2;
    grid-row: 3;
}

#resume:hover {                /* hover element for resume button */
    background-color: #E7CC12;
}

.projects {                             /*project page START*/
    width: 960px;
    margin: 0px auto;
    display: grid;
    grid-template-areas:
        "proj1"
        "a"
        "image1"
        "r1"
        "rp1"
        "proj2"
        "b"
        "image2"
        "image3"
        "r2"
        "rp2"
        "proj3"
        "c"
        "image4"
        "image5"
        "r3"
        "rp3";
    grid-template-columns: 1fr 300px;
    grid-template-rows: repeat(12, auto);
}
.proj1 {
    grid-column: 1/3;
    grid-row: 1;
    padding: 0;
}
.a {
    grid-column: 1;
    grid-row: 2;
}
.image1 {
    grid-column: 2;
    grid-row: 2;
    padding: 10px;
}
.r1 {
    grid-column: 1/3;
    grid-row: 3;
}
.rp1 {
    grid-column: 1/3;
    grid-row: 4;
}

.proj2 {
    grid-column: 1/3;
    grid-row: 5;
    padding: 0;
}
.b {
    grid-column: 1;
    grid-row: 6;
}
.image2 {
    grid-column: 2;
    grid-row: 6;
    padding: 10px;
}
.image3 {
    grid-column: 2;
    grid-row: 6;
    padding: 10px;
}
.r2 {
    grid-column: 1/3;
    grid-row: 7;
}
.rp2 {
    grid-column: 1/3;
    grid-row: 8;
}

.proj3 {
    grid-column: 1/3;
    grid-row: 9;
    padding: 0;
}
.c {
    grid-column: 1;
    grid-row: 10;
}
.image4 {
    grid-column: 2;
    grid-row: 10;
    padding: 10px;
}
.image5 {
    grid-column: 2;
    grid-row: 10;
    padding: 10px;
}
.r3 {
    grid-column: 1/3;
    grid-row: 11;
}
.rp3 {
    grid-column: 1/3;
    grid-row: 12;
}

.reflection {                             /*reflection page START*/
    width: 960px;
    margin: 0px auto;
    display: grid;
    grid-template-areas:
        "p1"
        "p2"
        "p3"
        "p4"
        "p5"
        "p6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
}

.p1 {                                   /*reflection page*/
    grid-column: 1;
    grid-row: 3;
    background-color: #E7CC12;
}

.p2 {                                   /*reflection page*/
    grid-column: 2;
    grid-row: 3;
    background-color: #E9E9E9;
}

.p3 {                                    /*reflection page*/
    grid-column: 3;
    grid-row: 3;
    background-color: #E7CC12;
}

.p4 {                                    /*reflection page*/
    grid-column: 1;
    grid-row: 4;
    background-color: #E9E9E9;
}

.p5 {                                    /*reflection page*/
    grid-column: 2;
    grid-row: 4;
    background-color: #E7CC12;
}

.p6 {                                    /*reflection page*/
    grid-column: 3;
    grid-row: 4;
    background-color: #E9E9E9;
}

footer {                                    /*footer*/
    margin-top: 3em;
}



@media screen and  (max-width: 768px) {     /*tablet*/
    .home {                                 /*tablet home*/
        width: 641px;
        grid-template-columns: 1fr 1fr;
    }
    .p1 {
        grid-column: 1;
        grid-row: 3;
        background-color: #E9E9E9;
    }
    .p2 {
        grid-column: 2;
        grid-row: 3;
        background-color: #E7CC12;
    }
    .p3 {
        grid-column: 1;
        grid-row: 4;
        background-color: #E7CC12;
    }

    .about {                                 /*tablet about*/
        width: 641px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  repeat(3, auto);
    }
    #video {
        width: 200px;
        height: 300px;
        display: block;
        float: left;
    }
    p {
        grid-column: 2/4;
        grid-row: 1;
        padding: 10px;
    }
    blockquote {                               /*confused on how to get this content to shift down*/
        grid-column: 1/4;
        grid-row: 2;
        padding: 10px;
    }
    #headshot {
        width: 200px;
        height: 300px;
        display: block;
        float: left;
    }
    #resume {
        grid-column: 2;
        grid-row: 3;
    }

    .projects {                                 /*tablet project*/
        width: 641px;
        grid-template-columns: 1fr;             /*need to fgure out width*/
        grid-template-rows:  repeat(15, auto);
    }
    .proj1 {
        grid-column: 1;
        grid-row: 1;
    }
    .a {
        grid-column: 1;
        grid-row: 2;
    }
    .image1 {
        grid-column: 2;
        grid-row: 3;
    }
    .r1 {
        grid-column: 1;
        grid-row: 4;
    }
    .rp1 {
        grid-column: 11;
        grid-row: 5;
    }
    .proj2 {
        grid-column: 1;
        grid-row: 6;
    }
    .b {
        grid-column: 1;
        grid-row: 7;
    }
    .image2 {
        grid-column: 1;
        grid-row: 8;
    }
    .image3 {
        grid-column: 1;
        grid-row: 8;
    }
    .r2 {
        grid-column: 1;
        grid-row: 9;
    }
    .rp2 {
        grid-column: 1;
        grid-row: 10;
    }
    .proj3 {
        grid-column: 1;
        grid-row: 11;
    }
    .c {
        grid-column: 1;
        grid-row: 12;
    }
    .image4 {
        grid-column: 2;
        grid-row: 13;
    }
    .image5 {
        grid-column: 2;
        grid-row: 13;
    }
    .r3 {
        grid-column: 1/3;
        grid-row: 14;
    }
    .rp3 {
        grid-column: 1;
        grid-row: 15;
    }
    
    .reflection {                             /*reflection page START*/
        width: 960px;
        margin: 0px auto;
        display: grid;
        grid-template-areas:
            "p1"
            "p2"
            "p3"
            "p4"
            "p5"
            "p6";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5, auto);
    }
}

    .reflection {                                 /*tablet reflection*/
        width: 641px;
        grid-template-columns: 1fr 1fr;
    }
    .p1 {
        grid-column: 1;
        grid-row: 3;
    }
    .p2 {
        grid-column: 2;
        grid-row: 3;
    }
    .p3 {
        grid-column: 1;
        grid-row: 4;
    }
    .p4 {
        grid-column: 2;
        grid-row: 4;
    }
    .p5 {
        grid-column: 1;
        grid-row: 5;
    }
    .p6 {
        grid-column: 2;
        grid-row: 5;
    }

@media screen and  (max-width: 640px) {     /*mobile home*/
    .home {
        width: 320px;
        grid-template-columns: 1fr;
    }
    .p1 {
        grid-column: 1;
        grid-row: 3;
        background-color: #E7CC12;
    }
    .p2 {
        grid-column: 1;
        grid-row: 4;
        background-color: #E9E9E9;
    }
    .p3 {
        grid-column: 1;
        grid-row: 5;
        background-color: #E7CC12;
    }
    .about {                                 /*mobile about*/
        width: 320px;                       
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(5, auto);
    }
    #video {
        width: 200px;
        height: 300px;
        grid-column: 1;
        grid-row: 1;
    }
    p {
        grid-column: 1;
        grid-row: 2;
    }
    blockquote {                               
        grid-column: 1;
        grid-row: 3;
    }
    #headshot {
        grid-column: 1;
        grid-row: 4;
    }
    #resume {
        grid-column: 1;
        grid-row: 5;
    }
    
    .reflection {                                 /*mobile reflection*/
        width: 320px;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(8, auto);
    }
    .p1 {
        grid-column: 1;
        grid-row: 3;
    }
    .p2 {
        grid-column: 1;
        grid-row: 4;
    }
    .p3 {
        grid-column: 1;
        grid-row: 5;
    }
    .p4 {
        grid-column: 1;
        grid-row: 6;
    }
    .p5 {
        grid-column: 1;
        grid-row: 7;
    }
    .p6 {
        grid-column: 1;
        grid-row: 8;
    }
}

@media screen and  (max-width: 320px) {
    .home {
        width: 320px;
    }
}